@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.article-preview-container {
	font-family: 'Manrope', sans-serif;
	background-color: white;
	width: 730px;
	height: 280px;
	display: flex;
	border-radius: 15px;
	box-shadow: 8px 25px 50px 0px rgba(0,0,0,0.15)
}

.articleImage {
	width: 45%;
	height: auto;
	object-fit: cover;
	border-radius: 15px 0 0 15px;
}

.profileImage {
	width: 13%;
	height: auto;
	border-radius: 50%;
	margin-right: 1rem;
}

.card {
	padding: 2rem;
}

h1 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	color: '#333';
}

p {
	font-weight: 500;
	font-size: 13px;
}

.user {
	display: flex;
	flex-direction: row;
}

.user-bundle {
	display: flex;
	flex-direction: column;
}

.user-name {
	font-weight: 700;
}
.user-date {
	font-weight: 500;
}

.user-share {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 13px;
}

.share-button img {
	background-color: hsl(210, 46%, 95%);
	border-radius: 50%;
	padding: 0.5rem;
}

@media only screen and (max-width: 750px) {
	.article-preview-container {
		width: 375px;
		height: 730px;
		display: flex;
		flex-direction: column;
		border-radius: 15px;
	}

	.articleImage {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
	}

	p {
		margin-bottom: 2rem;
	}
}
