@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.rectangle {
	width: auto;
	height: auto;
	background-color: hsl(217, 19%, 35%);
	z-index: 50;
	position: absolute;
	right: 17%;
	top: 45%;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 15px;

	display: flex;
	flex-direction: row;
	place-items: center;
}


.triangle {
  width: 0; 
  height: 0; 
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  
  border-top: 20px solid hsl(217, 19%, 35%);;
  position: absolute;
  right: 45%;
  top: 100%;
  z-index: 50;

}

.facebookIcon {
	width: 100%;
	padding-left: 1rem;
}

.facebookIcon:hover {
	filter: brightness(0.8);
}

.twitterIcon {
	padding-left: 1rem;
	padding-right: 1rem;
	width: 50%;
}

.twitterIcon:hover {
	filter: brightness(0.8);
}

.pinterestIcon {
	width: 50%;
}

.pinterestIcon:hover {
	filter: brightness(0.8);
}

.rectangle h1 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	color: hsl(212, 23%, 69%);
	font-weight: 500;
}

@media only screen and (min-width: 750px) {
	.rectangle-mobile {
		display: none;
	}
}

@media only screen and (max-width: 750px) {
	.rectangle {
		display: none;
	}

	.rectangle-mobile {
		width: auto;
		height: auto;
		background-color: hsl(217, 19%, 35%);
		z-index: 50;
		position: absolute;
		bottom: 2vh;
		left: 16vw;
		/*right: 17%;
		top: 45%;*/
		padding: 1rem;
		padding-left: 2rem;
		padding-right: 10rem;
		border-radius: 0 0 15px 15px;

		display: flex;
		flex-direction: row;
		place-items: center;
	}

	.rectangle-mobile h1 {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0.5rem;
		color: hsl(212, 23%, 69%);
		font-weight: 500;
	}

	.triangle {
		width: 0; 
		height: 0; 
		border-left: 0 solid transparent;
		border-right: 0 solid transparent;

		border-top: 0 solid hsl(217, 19%, 35%);;
	}
}